@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility classes */

:root{
    --bg-dark: hsl(216, 25%, 27%);
    --bg-light: hsl(216, 50%, 16%);
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --white: hsl(0, 0%, 100%);
}

.text-primary{
    color: var(--Soft-blue);
}


/* main code */

body{
    background: var(--bg-light);
}

#container{
    width: 100%;
    height: 100vh;
    display: flex;
    background: var(--bg-light);
    overflow: hidden;
}

#showcase{
    margin: 90px auto;
    background-color: var(--bg-dark);
    height: 403px;
    padding: 20px;
    border-radius: 10px;
    width:100%;
    max-width: 20rem;
    height: 35rem;
    box-shadow: -5px 5px 5px rgba(0,0,0,0.5);
}

.image img{
    width: 100%;
    border-radius: 10px;
}

/* @media query */

@media screen and (max-width:375px) {
    #showcase{
        margin: 20px;
    }
}

