@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility classes */

:root{
    --bg-light: hsl(216, 50%, 16%);
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --white: hsl(0, 0%, 100%);
}

.text-primary{
    color: var(--Soft-blue);
    font-family: 'Outfit' , sans-serif;
}

.curText{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6rem;
    font-weight: 600;
}


/* main code */

body{
    background: var(--bg-light);
    font-family: 'Outfit' , sans-serif;
}

#container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: var(--bg-light);
    overflow: hidden;
}

#showcase{
    margin: auto;
    margin-top: 30px;
    background-color: var(--bg-light);
    padding: 20px;
    border-radius: 10px;
    width:100%;
    max-width: 20rem;
    height: 35rem;
    box-shadow: -5px 5px 35px 5px rgba(0,0,0,0.5);
}

.image img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* @media query */

@media screen and (max-width:375px) {
    #showcase{
        margin: 20px;
    }
}

/* Texts code */

#text h1{
    font-family: 'Outfit', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 15px;
}

#text p{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 20px;
}

.currency{
    display: flex;
    justify-content: space-between;
    font-family: 'Outfit' , sans-serif;
    border-bottom: 1px solid var(--Soft-blue);
    padding-bottom: 2rem;
    margin-bottom: 20px;
}

.eth-Text{
    color: var(--Cyan);
}

.clock-Text{
    color: var(--Soft-blue);
}

#creation{
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--Soft-blue);
}

#creation img{
    width: 2rem;
    margin-right: 10px;
    border: 1px solid var(--white);
    border-radius: 50px;
}

.name{
    color: var(--white);
    margin-left: 6px;
}